/Michi/Library/APIUpdater
/Michi/Library/Artifacts
/Michi/Library/Bee
/Michi/Library/BurstCache
/Michi/Library/com.unity.ide.rider
/Michi/Library/PackageCache
/Michi/Library/PackageManager
/Michi/Library/ScriptAssemblies
/Michi/Library/Search
/Michi/Library/ShaderCache
/Michi/Library/StateCache/LayerSettings
/Michi/Logs
/Michi/ProjectSettings
/Michi/Temp
/Michi/UserSettings
/Michi/Packages
